h1{
    text-align: center;

}
main{
    margin:  0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}
img{
    width: 100%;
    background-color: #000;
    animation: fadeFromBlack 15s ease-in ;
}
@keyframes  fadeFromBlack{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}