/*larger: 700px and up*/
@media screen and (min-width: 700px) {

  /* header: switch to row layout */
  header {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 3rem;
  }

 /* show nav as row on desktop */
  nav ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 0;
    width: auto;
  }
   /* hide hamburger on desktop */
  #menu-button {
    display: none;
  }

  /* main grid: 3 columns for larger view */
  .temple-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: center;
  }

  figure {
    max-width: 100%;
  }
}